.form-horizontal .control-label {
        text-align: left;
    }

    .form-group{
        margin-bottom: 40px;
    }

    .label-primary{
        color: #FFFFFF;
    }
    
    .label-danger{
        color: #FFFFFF;
    }
    
    .errorMessage{
        color: #ff0033;
    }
    
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
        width: 100%;
    }

